@charset "ISO-8859-1";
.font_page{
    height: 90px;
}

/* .page {
    height: 100vh; 
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
} */

.page .container {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    margin-top: 20px;
}

.page .container .page__left {
    display: block;
    /* height: 100%; */
    width: 240px;
}

.page .container .page__main {
    display: block;
    /* height: 100%; */
    width: 100%;
}

.page__left .search {
    border: 1px solid rgba(16, 89, 171, 0.38);
    width: 100%;
    border-radius: 5px;
}

.page__left .search input {
    background-color: #fff;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    height: 40px;
    padding: 8px 8px 8px 13px;
    width: calc(100% - 35px);
    border: none;
}

.page__left .search button {
    background-color: transparent;
    border: none;
    top: 10px;
    right: 10px
}

.page__left .search button i {
    height: 100%;
    font-size: 1.5rem;
}



.page__left .side-bar {
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    border: 1px dotted rgb(206, 198, 198);
}

.page__left .side-bar .logo-contain {
    height: 40px;
    justify-items: center;
    color: blue;
    /* position: relative; */
    border: 1px solid rgb(206, 198, 198);
    /* line-height: 40px; */
    padding-left: 10px;
    font-size: 1.5rem;
    background-color: #eee;
}

.page__left .side-bar .logo-contain .logo_name {
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.page__left .side-bar ul {
    margin-top: 0;
    padding: 0;
}

.page__left .side-bar ul li {
    list-style: none;
    height: 40px;
    width: 100%;
    position: relative;
    line-height: 40px;
    border-top: 1px dotted rgb(206, 198, 198);
    /* border-bottom: 1px solid rgb(206, 198, 198); */
    /* border-left: 1px solid rgb(206, 198, 198);
    border-right: 1px solid rgb(206, 198, 198); */
}

.page__left .side-bar ul li a {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
    white-space: nowrap;
    font-weight: 600;
    font-size: 1.2rem;
    color: #222222;
}

.page__left .side-bar ul li a:hover {
    background-color: #106cb2;
    color: #fff;
}

.page__left .side-bar ul li a i {
    font-size: 2rem;
}

.page__left .fa-times{
    font-size: 2rem;
    color: var(--blue);
    cursor: pointer;
    display: none;
}

.page__left .manufacturer {
    margin-top: 20px;
    width: 100%;
    margin-left: 20px;
}

.page__left .manufacturer .name {
    font-size: 2rem;
    font-weight: bold;
    color: #222222;
}

.page__left .manufacturer ul {
    margin-top: 0;
    padding: 0;
}

.page__left .manufacturer ul li {
    list-style: none;
    height: 30px;
    width: 100%;
    position: relative;
    line-height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.page__left .manufacturer ul li label {
    padding-left: 10px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600;
    font-size: 1.5rem;
    color: #2b3033c3;
    text-align: center;
    margin: 0;
}

.page__left .prince {
    margin-top: 20px;
    width: 100%;
    margin-left: 20px;
}

.page__left .prince .name {
    font-size: 2rem;
    font-weight: bold;
    color: #222222;
}

.page__left .prince ul {
    margin-top: 0;
    padding: 0;
}

.page__left .prince ul li {
    list-style: none;
    height: 30px;
    width: 100%;
    position: relative;
    line-height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.page__left .prince ul li label {
    padding-left: 10px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600;
    font-size: 1.5rem;
    color: #2b3033c3;
    text-align: center;
    margin: 0;
}

.page__left .pin {
    margin-top: 20px;
    width: 100%;
    margin-left: 20px;
}

.page__left .pin .name {
    font-size: 2rem;
    font-weight: bold;
    color: #222222;
}

.page__left .pin ul {
    margin-top: 0;
    padding: 0;
}

.page__left .pin ul li {
    list-style: none;
    height: 30px;
    width: 100%;
    position: relative;
    line-height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.page__left .pin ul li label {
    padding-left: 10px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600;
    font-size: 1.5rem;
    color: #2b3033c3;
    text-align: center;
    margin: 0;
}

.page__left .btn_feature{
    width: 100%;
    height: 40px;
    margin: 10px;
    background: var(--blue);
    color: #fff;
    font-size: 1.7rem;
    text-transform: capitalize;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 1rem 0;
    border: none !important;
    display: none;
}

.page__main .main__header {
    /* margin: 20px; */
    /* width: 100%; */
    margin: 0 2rem;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    background-color: #eee;
    padding: 5px;
}

.page__main .main__header .header__top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.page__main .main__header .header__top p {
    margin: 0;
    font-size: 1.5rem;
}

.page__main .main__header h2 {
    display: inline;
}

.page__main .main__header .header__bottom {
    display: flex;
    align-items: center;
    gap: 10px;
}

.page__main .main__header .header__bottom h3 {
    margin: 0;
}

.page__main .main__header .header__bottom ul {
    margin: 0;
}

.page__main .main__header .header__bottom ul li {
    float: left;
    margin: 5px;
    list-style: none;
    background-color: #fff;
    padding: 4px;
    font-size: 1.4rem;
    border-radius: 5px;
}

.page .page__main .pro-container{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.page .page__main .pro-container .pro{
    width: 30%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 1.6% 0;
    transition: 0.2s ease;
    position: relative;
}

.page .page__main .pro-container .pro:hover{
    /* width: 25%; */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.page .page__main .pro-container .pro img{
    width: 100%;
    border-radius: 20px;
    background-color: #eee;
    height:250px;
}

.page .page__main .pro-container .pro .des{
    padding: 10px 0;
}

.page .page__main .pro-container .pro .des span{
    text-align: start;
    color: #606063;
    font-size: 12px;
}

.page .page__main .pro-container .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 16px;
}

.page .page__main .pro-container .pro .des .star i{
    font-size: 12px;
    color: rgb(243, 228, 8);
}

.page .page__main .pro-container .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

.page .page__main .pro-container .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    /* font-weight: 500; */
    color: #088178;
    border: 1px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.page__main .paging{
    display: flex;
    align-items: center;
    justify-content: center;;
    margin: 20px;
}

.page__main .paging button{
    height: 4rem;
    width: 4rem;
    margin: 3px;
}

.footer{
    background: var(--black);
}

.footer p{
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
}

.footer .col-md-4:nth-child(1) a{
    font-size: 3rem;
    color: #fff;
}

.footer .col-md-4:nth-child(1) span{
    color: var(--blue);
}

.footer a{
    font-size: 2rem;
    color: #ccc;
    display: block;
}

.footer h3{
    color: #fff;
    font-size: 3rem;
}

.footer a:hover{
    color: var(--blue);
}

.footer h3{
    color: #fff;
    font-size: 3rem;
}

.footer .credit{
    color: #fff;
    width: 80%;
    margin: 0;
    padding: 2rem 0;
    padding-bottom: 4rem;
    border-top: .1rem solid #ccc !important;
}

.footer .credit span{
    color: var(--blue);
}

.pagination {
  margin: 20px 0;
  border-radius: 4px;
}

.pagination li{
	display: flex;
	flex-direction: row;
	border: 1px solid #dddddd;
	width:40px;
	height:40px;
	text-align:center;
	align-items: center;
	justify-content:center;
	margin:5px;
}

.pagination .active{
	background-color:#0080ff;
}

.pagination .active a{
	color: white;
}

.pagination li a{
	align-items: center;	
}





@media(max-width:768px) {

    header .fa-bars{
        display: block;
    }

    header .nav{
        position: fixed;
        /* top:50%; */
        top:-100rem;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0 0 0  100vh rgba(0, 0, 0, .3);
        border-radius: .5rem;
        border: .3rem solid var(--blue) !important;
        background: #fff;
        width: 95%;
        opacity: 0;
    }

    header .nav ul{
        width: 100%;
        flex-flow: column;
        padding: 2rem 0;
    }

    header .nav ul li{
        width: 100%;
        text-align: center;
        margin:1rem 0;
    }

    header .nav ul li a{
        font-size: 3rem;
        display: block;
    }

    header .nav-toggle{
        top:50%;
        opacity: 1;
    }


    .page .container {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: none;
    }

    .page .page__left{
        width: 100% !important;
    }

    .page .page__left .side-bar .logo-contain{
        display: none;
    }

    .page .page__left .side-bar ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page .page__left .feature{
        display: none;
        /* left: 50%; */
        /* transform: translate(-50%,-50%);*/
        box-shadow: 0 0 0  100vh rgba(0, 0, 0, .3);
        border-radius: .5rem;
        border: .3rem solid var(--blue) !important;
        background: #fff;
        /* width: 95%; */
        opacity: 0;
        overflow: auto !important;
        width: 70%; 
    }

    .page__left .btn_feature{
        display: block;
    }

    .page__left .nav-toggle{
        position: fixed;
        display: block !important;
        top:0;
        right: 0;
        opacity: 1 !important;
        overflow-y: scroll !important;
        z-index: 2000;
    }

    .page__left .tog{
        display: none;
    }

    .page__left .fa-bars{
        right: 0;
    }

    .page__left .fa-times{
        display: block;
    }

    .page__main .main__header{
        margin: 1rem 0 !important;
    }

    .page .page__main .pro-container .pro{
        width: 45% !important;
    }

}